<div class="container mt-5">

    <div *ngIf="(accountService.currentUser$ | async) === null">
        <div *ngIf="!registerMode" style='text-align: center;'>
            <h1>Faça seu registro</h1>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Registrar agora</button>
            </div>
        </div>

        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="(accountService.currentUser$ | async) as user">
        <h1>Ola {{user.knownAs || user.username | titlecase}}    </h1>

        <div class="col-8">
            <tabset class="member-tabset" >
                <tab heading='Avaliações'>
                   
                    <div class="mt-5" style="margin:0 30px;">
                        <table class="table">
                            <tr>
                                <th >Nome</th>
                                <th class="col-4">comentario</th>
                                <th>Data</th>
                                <th>Nota</th>
                            </tr>
                            <tr *ngFor="let avalia of avaliacaoList; index as i">
                                <td >
                                    {{ avalia.midiaTitulo }}</td>
                                <td class="col-4">{{ avalia.comentario }}</td>
                                <td>{{ avalia.dataAvaliacao | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ avalia.nota }}</td>
                            </tr>
                        </table>
                    </div>
    
                </tab>
                <tab heading='Convites' >
                    <h4>Aguardando meus convites</h4>
                    <div class="mt-3" style="margin:0 30px;">
                        <table class="table">
                            <tr>
                                <th >Nome</th>
                                <th>Em</th>
                               
                            </tr>
                            <tr *ngFor="let rela of convitesList; index as i">
                                <td > {{ rela.userConvidado }}</td>
                                <td>{{ rela.dataProposta | date: 'dd/MM/yyyy' }}</td>
                               
                            </tr>
                        </table>
                    </div>

                    <h4>Me convidou</h4>
                    <div class="mt-3" style="margin:0 30px;">
                        <table class="table">
                            <tr>
                                <th >Nome</th>
                                <th>Em</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let invite of invitesList; index as i">
                                <td > {{ invite.userConvida }}</td>
                                <td>{{ invite.dataProposta | date: 'dd/MM/yyyy' }}</td>
                                <td ><button (click)="aceitar(invite)"  class="btn btn-primary btn-sm">Aceitar</button>
                                    <button (click)="recusar(invite)"  class="ml-1 btn btn-secondary btn-sm">Recusar</button>
                                </td>
                               
                            </tr>
                        </table>
                    </div>
                   
                </tab>
                <tab heading='Relacionamentos' >
                    <div class="mt-3" style="margin:0 30px;">
                        <table class="table">
                            <tr>
                                <th >Nome</th>
                                <th>Em</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let relacio of relationamentos; index as i">
                                <td > {{ relacio.userConvidado }}</td>
                                <td>{{ relacio.dataProposta | date: 'dd/MM/yyyy' }}</td>
                                <td >
 
                                    <button routerLink='/members/{{relacio.userConvidado}}'
                                     class="btn btn-primary">Visitar</button>
                                  
                                </td>
                               
                            </tr>
                        </table>
                    </div>
                </tab>
                <tab heading='Likes' >
                    <div class="mt-3" style="margin:0 30px;">
                        <table class="table">
                            <tr>
                                <th >Avaliação</th>
                                <th>De</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let avalialike of userLikes; index as i">
                                <td > {{ avalialike.avaliacaoId }}</td>
                                <td>{{ avalialike.avaliacaode}}</td>
                                <td >
 
                                    <button (click)="removerLike(avalialike)"
                                     class="btn btn-primary">Remover</button>
                                  
                                </td>
                               
                            </tr>
                        </table>
                    </div>
                </tab>
              
            </tabset>
        </div>
            
    </div>
</div>