<div class="container mt-5">

    <div *ngIf="(accountService.currentUser$ | async) === null">
        <div *ngIf="!registerMode" style='text-align: center;'>
            <h1>Faça seu registro</h1>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Registrar agora</button>
            </div>
        </div>

        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="(accountService.currentUser$ | async) as user">
        <h1>Ola {{user.knownAs || user.username | titlecase}}    </h1>
            <div class="mt-5" style="margin:0 30px;">
                <h3>Suas avaliações</h3>
                <table class="table">
                    <tr>
                        <th >Midia</th>
                        <th class="col-4">comentario</th>
                        <th>Data</th>
                        <th class="col-3" nowrap="nowrap">Avalidado por</th>
                        <th>Nota</th>
                    </tr>
                    <tr *ngFor="let avalia of avaliacaoList; index as i">
                        <td >
                            {{ avalia.midiaTitulo }}</td>
                        <td class="col-4">{{ avalia.comentario }}</td>
                        <td>{{ avalia.dataAvaliacao | date: 'dd/MM/yyyy' }}</td>
                        <td class="col-3" nowrap="nowrap">{{ avalia.avaliadoPorUsername }}</td>
                        <td>{{ avalia.nota }}</td>
                    </tr>
                </table>
            </div>
    </div>
</div>