<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Localização:</strong>
                    <p>{{member.city}}, {{member.state}}</p>
                </div>
                <div>
                    <strong>Idade:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Ultima Atividade:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Membro desde:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-info" (click)="proporRealacionamento()">Propor relacionamento</button>

                </div>
                <div class="btn-group d-flex">
                

                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Avaliações {{member.knownAs}}' (selectTab)="onTabActivated($event)">
               
                <div class="mt-5" style="margin:0 30px;">
                    <table class="table">
                        <tr>
                            <th >Nome</th>
                            <th class="col-4">comentario</th>
                            <th>Data</th>
                            <th>Nota</th>
                        </tr>
                        <tr *ngFor="let avalia of avaliacaoList; index as i">
                            <td >
                                {{ avalia.midiaTitulo }}</td>
                            <td class="col-4">{{ avalia.comentario }}</td>
                            <td>{{ avalia.dataAvaliacao | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ avalia.nota }}</td>
                        </tr>
                    </table>
                </div>

            </tab>
            <tab heading='Amigos em comum' (selectTab)="onTabActivated($event)">
               
                <div class="mt-5" style="margin:0 30px;">
                    <table class="table">
                        <tr>
                            <th >Nome</th>
                         
                        </tr>
                        <tr *ngFor="let amigo of amigosEmComum; index as i">
                            <td >
                                {{ amigo }}</td>
                          
                        </tr>
                    </table>
                </div>
               
            </tab>
            <tab heading='Photos' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
          
        </tabset>
    </div>
</div>
